# Sqlalcmemy 1.4/2.0 Tutorial

## Establishing Connectity - the Engine

In [1]:
from sqlalchemy import create_engine
engine = create_engine(
    "sqlite+pysqlite:///:memory:", 
    echo=True, future=True)

## Working with Transactions and the DBAPI

### Getting a Connection

In [2]:
from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(
        text("select 'hello world'"))
    print(result.all())

2022-04-01 06:57:39,864 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-01 06:57:39,866 INFO sqlalchemy.engine.Engine select 'hello world'
2022-04-01 06:57:39,867 INFO sqlalchemy.engine.Engine [generated in 0.00314s] ()
[('hello world',)]
2022-04-01 06:57:39,871 INFO sqlalchemy.engine.Engine ROLLBACK

### Committing Changes

In [3]:
with engine.connect() as conn:
    conn.execute(
        text("CREATE TABLE "
        "some_table "
        "(x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table "
        "(x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, 
        {"x": 2, "y": 4}]
    )
    conn.commit()

2022-04-01 06:58:53,098 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-01 06:58:53,099 INFO sqlalchemy.engine.Engine CREATE TABLE some_table (x int, y int)
2022-04-01 06:58:53,101 INFO sqlalchemy.engine.Engine [generated in 0.00309s] ()
2022-04-01 06:58:53,103 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2022-04-01 06:58:53,104 INFO sqlalchemy.engine.Engine [generated in 0.00081s] ((1, 1), (2, 4))
2022-04-01 06:58:53,107 INFO sqlalchemy.engine.Engine COMMIT

The "begin once" style

In [4]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO"
        " some_table (x, y)"
        " VALUES (:x, :y)"),
        [{"x": 6, "y": 8}, 
        {"x": 9, "y": 10}]
    )

2022-04-01 07:00:38,595 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-01 07:00:38,596 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2022-04-01 07:00:38,598 INFO sqlalchemy.engine.Engine [cached since 105.5s ago] ((6, 8), (9, 10))
2022-04-01 07:00:38,602 INFO sqlalchemy.engine.Engine COMMIT

### Basics of Statement Execution

#### Fetching Rows

In [5]:
with engine.connect() as conn:
    result = conn.execute(
        text(
            "SELECT x, y "
            "FROM some_table"))
    for row in result:
        print(f"x: {row.x} "
        f" y: {row.y}")

2022-04-01 07:02:28,173 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-01 07:02:28,174 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2022-04-01 07:02:28,175 INFO sqlalchemy.engine.Engine [generated in 0.00181s] ()
x: 1  y: 1
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-04-01 07:02:28,176 INFO sqlalchemy.engine.Engine ROLLBACK

#### Sending Parameters

In [6]:
with engine.connect() as conn:
    result = conn.execute(
        text("SELECT x, y FROM some_table WHERE y > :y"),
        {"y": 2}
    )
    for row in result:
       print(f"x: {row.x}  y: {row.y}")

2022-04-01 07:03:27,509 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-01 07:03:27,511 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ?
2022-04-01 07:03:27,512 INFO sqlalchemy.engine.Engine [generated in 0.00235s] (2,)
x: 2  y: 4
x: 6  y: 8
x: 9  y: 10
2022-04-01 07:03:27,514 INFO sqlalchemy.engine.Engine ROLLBACK

#### Sending Multiple Parameters

In [7]:
with engine.connect() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 11, "y": 12}, {"x": 13, "y": 14}]
    )
    conn.commit()

2022-04-01 07:09:37,166 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-01 07:09:37,168 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2022-04-01 07:09:37,170 INFO sqlalchemy.engine.Engine [cached since 644.1s ago] ((11, 12), (13, 14))
2022-04-01 07:09:37,172 INFO sqlalchemy.engine.Engine COMMIT

#### Bunding Parameters with a Statement

In [8]:
stmt = text("SELECT x, y FROM some_table WHERE y > :y ORDER BY x, y").bindparams(y=6)
with engine.connect() as conn:
    result = conn.execute(stmt)
    for row in result:
       print(f"x: {row.x}  y: {row.y}")

2022-04-01 07:10:32,127 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-01 07:10:32,128 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ? ORDER BY x, y
2022-04-01 07:10:32,129 INFO sqlalchemy.engine.Engine [generated in 0.00255s] (6,)
x: 6  y: 8
x: 9  y: 10
x: 11  y: 12
x: 13  y: 14
2022-04-01 07:10:32,142 INFO sqlalchemy.engine.Engine ROLLBACK

#### Executing with an ORM Session

In [9]:
from sqlalchemy.orm import Session

stmt = text("SELECT x, y FROM some_table WHERE y > :y ORDER BY x, y").bindparams(y=6)
with Session(engine) as session:
    result = session.execute(stmt)
    for row in result:
       print(f"x: {row.x}  y: {row.y}")

2022-04-01 07:11:08,508 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-01 07:11:08,509 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table WHERE y > ? ORDER BY x, y
2022-04-01 07:11:08,511 INFO sqlalchemy.engine.Engine [cached since 36.38s ago] (6,)
x: 6  y: 8
x: 9  y: 10
x: 11  y: 12
x: 13  y: 14
2022-04-01 07:11:08,512 INFO sqlalchemy.engine.Engine ROLLBACK

commit as you go

In [10]:
with Session(engine) as session:
    result = session.execute(
        text("UPDATE some_table SET y=:y WHERE x=:x"),
        [{"x": 9, "y":11}, {"x": 13, "y": 15}]
    )
    session.commit()

2022-04-01 07:11:42,195 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-01 07:11:42,197 INFO sqlalchemy.engine.Engine UPDATE some_table SET y=? WHERE x=?
2022-04-01 07:11:42,198 INFO sqlalchemy.engine.Engine [generated in 0.00129s] ((11, 9), (15, 13))
2022-04-01 07:11:42,200 INFO sqlalchemy.engine.Engine COMMIT

## Working with Database Metadata

### Setting up MetaData with Table objects

In [11]:
from sqlalchemy import MetaData
metadata_obj = MetaData()

In [12]:
from sqlalchemy import Table, Column, Integer, String
user_table = Table(
    "user_account",
    metadata_obj,
    Column('id', Integer, primary_key=True),
    Column('name', String(30)),
    Column('fullname', String)
)

Column

In [13]:
user_table.c.name

Column('name', String(length=30), table=<user_account>)

In [14]:
user_table.c.keys()

['id', 'name', 'fullname']

### Declaring Simple Constraints